body{
  position: relative;
  margin: 0;
  overflow: hidden;
}
.ita{
  position: absolute;
  background: url('プロジェクト haikei.svg');
  background-size: cover;
  width: 100px;
  height: 100px;
}
.canvas{
  position: absolute;
}
#hontai {
  position: absolute;
  background: url('zibun migi migi.svg');
  background-size: cover;
  top: 700px;
  left: 450px;
  width: 100px;
  height: 100px;
  transition: transform 10s steps(3);
}
.haikei{
  position: absolute;
}
.background{
  position: absolute;
}
.loaded {
  transform: translate(0px,860px);
}
/*#kuroko {
  z-index: 50;
  background-color: #000;
  position: absolute;
  top: 0vmin;
  left: 100vmin;
  width: calc(100vw - 100vh);
  height: 100vmin;
}
#kuromaku {
  z-index: 50;
  background-color: #000;
  position: absolute;
  top: 100vmin;
  left: 0vmin;
  width: 100vmin;
  height: calc(100vh - 100vw);
}
